examples/basic.json
[
    {
        "id": "c6878bbc.90306",
        "type": "http request",
        "z": "db7a43a9.53e3c",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "https://loremflickr.com/320/240/sport",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "8ee27c26.7cb15",
                "bfe5b0cf.8781e8"
            ]
        ]
    },
    {
        "id": "fa420bdc.91bde8",
        "type": "inject",
        "z": "db7a43a9.53e3c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "c6878bbc.90306"
            ]
        ]
    },
    {
        "id": "89088a53.cc06",
        "type": "debug",
        "z": "db7a43a9.53e3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "bfe5b0cf.8781e8",
        "type": "teachable machine",
        "z": "db7a43a9.53e3c",
        "name": "",
        "mode": "online",
        "modelUrl": "https://teachablemachine.withgoogle.com/models/49PRz_c_9/",
        "output": "best",
        "localModel": "teachable_model",
        "threshold": 50,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "89088a53.cc06"
            ]
        ]
    },
    {
        "id": "8ee27c26.7cb15",
        "type": "image",
        "z": "db7a43a9.53e3c",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "x": 580,
        "y": 240,
        "wires": []
    }
]