examples/basic.json
[
  {
    "id": "9b0a1240.fe6c2",
    "type": "http request",
    "z": "17514116325f40c5",
    "name": "random image",
    "method": "GET",
    "ret": "bin",
    "paytoqs": false,
    "url": "https://loremflickr.com/320/240/sport",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 280,
    "y": 120,
    "wires": [
      [
        "91ebc5b6.8ccdd8"
      ]
    ]
  },
  {
    "id": "9cbe3704.6bb118",
    "type": "inject",
    "z": "17514116325f40c5",
    "name": "new",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9b0a1240.fe6c2"
      ]
    ]
  },
  {
    "id": "456d4286.6d5b2c",
    "type": "debug",
    "z": "17514116325f40c5",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 650,
    "y": 120,
    "wires": []
  },
  {
    "id": "91ebc5b6.8ccdd8",
    "type": "teachable machine",
    "z": "17514116325f40c5",
    "name": "",
    "mode": "online",
    "modelUri": "https://teachablemachine.withgoogle.com/models/49PRz_c_9/",
    "localModel": "teachable_model",
    "output": "best",
    "activeThreshold": false,
    "threshold": 80,
    "activeMaxResults": false,
    "maxResults": 3,
    "passThrough": true,
    "x": 490,
    "y": 120,
    "wires": [
      [
        "456d4286.6d5b2c"
      ]
    ]
  },
  {
    "id": "994234755381c0c0",
    "type": "inject",
    "z": "17514116325f40c5",
    "name": "reload",
    "props": [
      {
        "p": "reload",
        "v": "true",
        "vt": "bool"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 310,
    "y": 80,
    "wires": [
      [
        "91ebc5b6.8ccdd8"
      ]
    ]
  }
]
