examples/basic.json
[
    {
        "id": "9b0a1240.fe6c2",
        "type": "http request",
        "z": "c57dcb00.eb9ed8",
        "name": "random image",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "https://loremflickr.com/320/240/sport",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "91ebc5b6.8ccdd8",
                "aa6e3ce7.cfdcf"
            ]
        ]
    },
    {
        "id": "9cbe3704.6bb118",
        "type": "inject",
        "z": "c57dcb00.eb9ed8",
        "name": "new",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "9b0a1240.fe6c2"
            ]
        ]
    },
    {
        "id": "456d4286.6d5b2c",
        "type": "debug",
        "z": "c57dcb00.eb9ed8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "aa6e3ce7.cfdcf",
        "type": "image",
        "z": "c57dcb00.eb9ed8",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 460,
        "y": 360,
        "wires": []
    },
    {
        "id": "91ebc5b6.8ccdd8",
        "type": "teachable machine",
        "z": "c57dcb00.eb9ed8",
        "name": "",
        "mode": "online",
        "modelUrl": "https://teachablemachine.withgoogle.com/models/49PRz_c_9/",
        "localModel": "teachable_model",
        "output": "best",
        "activeThreshold": false,
        "threshold": 80,
        "activeMaxResults": false,
        "maxResults": 3,
        "passThrough": true,
        "x": 470,
        "y": 300,
        "wires": [
            [
                "456d4286.6d5b2c"
            ]
        ]
    }
]